@charset "utf-8";

/* ==========================================================================
 Base
========================================================================== */

// Color
:root {
  --white: #ffffff;
  --black: #222222;
  --lightgray: #f7f7f7;
  --gray01: #f5f5f5;
  --gray02: #e5e5e5;
  --gray03: #cccccc;
  --gray04: #666666;
}
.clr-gray01 {
  color: var(--gray01);
}
.clr-gray02 {
  color: var(--gray02);
}
.clr-gray03 {
  color: var(--gray03);
}
.clr-gray04 {
  color: var(--gray04);
}

// Break point
$break-point: 767px;
@mixin sp {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

// Hidden-Show
.pc-only {
  @include pc {
    display: block !important;
  }
  @include sp {
    display: none !important;
  }
}
.sp-only {
  @include pc {
    display: none !important;
  }
  @include sp {
    display: block !important;
  }
}

// Foundation
html {
  overflow-y: scroll;
  font-size: 0.625em;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html:not(.ua-mobile) [href^='tel:'] {
  pointer-events: none;
}

body {
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体',
    'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ',
    'Meiryo', 'verdana', sans-serif;
  line-height: 1.2;
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  color: var(--black);
  font-feature-settings: 'palt';
  letter-spacing: 0.02em;
}

img,
object {
  display: block;
  // vertical-align: top;
  max-width: 100%;
  width: auto;
  height: auto;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  &:active,
  &:hover {
    opacity: 0.7;
    color: var(--gray03);
    @include sp {
      opacity: 1;
    }
  }
}

a,
button,
a *,
button * {
  transition: 0.5s cubic-bezier(0.25, 1, 0.35, 1) all;
  text-decoration: none;
  border-bottom: 1px dotted var(--gray03);
}

sup,
sub {
  font-size: 0.6em;
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: var(--gray04);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  margin: 200px auto;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 100%;
  animation: sk-scaleout 1.2s infinite ease-in-out;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
