// ==========================================================================
// Foundation
// ==========================================================================

// ページ全体の配色とテキスト

html {
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}

// figure要素のデフォルト左右marginを詰める

figure {
  margin: {
    left: 0;
    right: 0;
  }
}

// メディア要素をコンテナ幅に収める

audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
}

// デスクトップ時に電話番号リンクを無効化

html:not(.ua-mobile) [href^="tel:"] {
  pointer-events: none;
}

// ==========================================================================
// Layout
// ==========================================================================

// .l-wrapper: ページ全体のレイアウト調整用を想定
// ==========================================================================

.l-wrapper {

}

// ==========================================================================
// Object
// ==========================================================================

// .c-container: コンテンツ領域を想定
// ==========================================================================

.c-container {
  max-width: 960px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 10px;
    right: 10px;
  }
}

// .u-hidden: メディアクエリ別表示切り分け
// ==========================================================================

// モバイル用表示
// iPadの横幅を想定しブレークポイントを設定

@media (max-width: 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}

// デスクトップ用表示
// iPadの横幅を想定しブレークポイントを設定

@media (min-width: 768px) {
  .u-hidden-pc {
    display: none !important;
  }
}
