// ==========================================================================
// Foundation
// ==========================================================================


// ==========================================================================
// Layout
// ==========================================================================

// .l-wrapper: ページ全体のレイアウト調整用を想定
// ==========================================================================

.l-wrapper {

}

// ==========================================================================
// Object
// ==========================================================================

// .c-container: コンテンツ領域を想定
// ==========================================================================

.c-container {
	position: relative;
  max-width: 960px;
	height: 5000px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 10px;
    right: 10px;
  }
}

// header ヘッダー要素
// ==========================================================================
header {
	position: sticky;
	top: 0;
	padding: 20px 0;
	.header {
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			&__logo {
				width: 100px;
				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}

			&__menu {
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				width: calc(100% - 200px);

				li:not(:last-child) {
					margin-right: 50px;
				}
			}
		}
	}
}

// footer フッター要素
// ==========================================================================
footer {
	position: sticky;
	bottom: 0;
	padding: 20px 0;
}
